In [8]:
import pandas as pd  
import numpy as np  
import statsmodels.formula.api as smf

In [9]:
dataset = pd.read_csv('http://paulellickson.com/ClassData/LifeEx.csv')
dataset.head()

   LifeEx    TV  PopDoc    GDP
0    65.6   7.4    2330   2870
1    71.1  22.2     330   5120
2    76.7  49.0     440  16680
3    75.7  47.0     230  17690
4    71.0  41.4     930  11536

In [10]:
est1 = smf.ols(formula='LifeEx ~ TV + PopDoc + GDP', data=dataset).fit()
print(est1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 LifeEx   R-squared:                       0.717
Model:                            OLS   Adj. R-squared:                  0.710
Method:                 Least Squares   F-statistic:                     97.34
Date:                Mon, 18 Oct 2021   Prob (F-statistic):           2.00e-31
Time:                        15:15:09   Log-Likelihood:                -373.28
No. Observations:                 119   AIC:                             754.6
Df Residuals:                     115   BIC:                             765.7
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     60.2963      0.975     61.866      0.000      58.366      62.227
TV             0.1168      0.055      2.116      0.037       0.007       0.226
PopDoc        -0.0003   4.22e-05     -6.835      0.000      -0.000      -0.000
GDP            0.0007      0.000      4.263      0.000       0.000       0.001
==============================================================================
Omnibus:                        1.152   Durbin-Watson:                   1.995
Prob(Omnibus):                  0.562   Jarque-Bera (JB):                0.693
Skew:                          -0.062   Prob(JB):                        0.707
Kurtosis:                       3.353   Cond. No.                     3.01e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.01e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [11]:
d = {'TV': [64], 'PopDoc': [450], 'GDP': [19320]}
df = pd.DataFrame(data=d)
df

   TV  PopDoc    GDP
0  64     450  19320

In [12]:
predictions = est1.get_prediction(df)
predictions.summary_frame(alpha=0.01)

,mean,mean_se,mean_ci_lower,mean_ci_upper,obs_ci_lower,obs_ci_upper
0,81.312935,1.446792,77.523414,85.102456,65.98965,96.636221

In [13]:
est2 = smf.ols(formula='LifeEx ~ np.log(TV) + np.log(PopDoc) + np.log(GDP)', data=dataset).fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 LifeEx   R-squared:                       0.873
Model:                            OLS   Adj. R-squared:                  0.870
Method:                 Least Squares   F-statistic:                     264.3
Date:                Mon, 18 Oct 2021   Prob (F-statistic):           2.05e-51
Time:                        15:15:15   Log-Likelihood:                -325.55
No. Observations:                 119   AIC:                             659.1
Df Residuals:                     115   BIC:                             670.2
Df Model:                           3
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept         43.3560      8.042      5.391      0.000      27.427      59.285
np.log(TV)         1.3846      0.525      2.639      0.009       0.345       2.424
np.log(PopDoc)    -2.0964      0.459     -4.564      0.000      -3.006      -1.186
np.log(GDP)        4.2070      0.775      5.429      0.000       2.672       5.742
==============================================================================
Omnibus:                        2.925   Durbin-Watson:                   1.977
Prob(Omnibus):                  0.232   Jarque-Bera (JB):                2.867
Skew:                          -0.096   Prob(JB):                        0.238
Kurtosis:                       3.736   Cond. No.                         268.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.