In [22]:
import pandas as pd  
import numpy as np  
import statsmodels.formula.api as smf

In [23]:
dataset = pd.read_csv('http://paulellickson.com/ClassData/mortgage.csv')
dataset.head()

,deny,pi_rat,black,hse_inc,loan_val,ccred,mcred,pubrec,denpmi,selfemp,...,ltv_med,ltv_high,blk_pi,blk_hse,ccred3,ccred4,ccred5,ccred6,mcred3,mcred4
0,0,0.306,0,0.206,0.571429,1,2,0,0,0,...,0,0,0.0,0.0,0,0,0,0,0,0
1,1,0.380,0,0.230,0.794643,2,2,0,0,0,...,0,0,0.0,0.0,0,0,0,0,0,0
2,0,0.330,0,0.310,0.744444,1,2,0,0,0,...,0,0,0.0,0.0,0,0,0,0,0,0
3,0,0.410,0,0.330,0.902857,5,2,0,0,0,...,1,0,0.0,0.0,0,0,1,0,0,0
4,0,0.270,0,0.230,0.775000,1,2,0,0,0,...,0,0,0.0,0.0,0,0,0,0,0,0

In [15]:
est1 = smf.ols(formula='deny ~ pi_rat + single + selfemp + condo + probunmp', data=dataset).fit()
print(est1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   deny   R-squared:                       0.049
Model:                            OLS   Adj. R-squared:                  0.047
Method:                 Least Squares   F-statistic:                     24.22
Date:                Mon, 18 Oct 2021   Prob (F-statistic):           7.65e-24
Time:                        15:16:17   Log-Likelihood:                -640.48
No. Observations:                2380   AIC:                             1293.
Df Residuals:                    2374   BIC:                             1328.
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -0.1235      0.025     -4.985      0.000      -0.172      -0.075
pi_rat         0.5890      0.061      9.696      0.000       0.470       0.708
single         0.0432      0.014      3.096      0.002       0.016       0.071
selfemp        0.0428      0.020      2.089      0.037       0.003       0.083
condo          0.0196      0.015      1.299      0.194      -0.010       0.049
probunmp       0.0055      0.003      1.687      0.092      -0.001       0.012
==============================================================================
Omnibus:                     1003.791   Durbin-Watson:                   1.890
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3183.871
Skew:                           2.250   Prob(JB):                         0.00
Kurtosis:                       6.444   Cond. No.                         43.4
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [16]:
est2 = smf.ols(formula='deny ~ pi_rat + single + selfemp', data=dataset).fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   deny   R-squared:                       0.047
Model:                            OLS   Adj. R-squared:                  0.046
Method:                 Least Squares   F-statistic:                     38.93
Date:                Mon, 18 Oct 2021   Prob (F-statistic):           1.48e-24
Time:                        15:16:17   Log-Likelihood:                -642.57
No. Observations:                2380   AIC:                             1293.
Df Residuals:                    2376   BIC:                             1316.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -0.1002      0.022     -4.627      0.000      -0.143      -0.058
pi_rat         0.5917      0.061      9.747      0.000       0.473       0.711
single         0.0476      0.013      3.575      0.000       0.021       0.074
selfemp        0.0470      0.020      2.316      0.021       0.007       0.087
==============================================================================
Omnibus:                     1007.443   Durbin-Watson:                   1.887
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3207.888
Skew:                           2.257   Prob(JB):                         0.00
Kurtosis:                       6.460   Cond. No.                         11.3
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [17]:
print(est1.f_test("condo = 0,probunmp = 0"))

<F test: F=array([[2.0921373]]), p=0.12365056381875766, df_denom=2.37e+03, df_num=2>

In [18]:
d = {'pi_rat': [.4], 'single': [1], 'selfemp': [1]}
df = pd.DataFrame(data=d)
df

   pi_rat  single  selfemp
0     0.4       1        1

In [19]:
predictions = est2.get_prediction(df)
predictions.summary_frame(alpha=0.05)

       mean  mean_se  mean_ci_lower  mean_ci_upper  obs_ci_lower  obs_ci_upper
0  0.231117  0.02113       0.189682       0.272552      -0.39235      0.854584

In [20]:
d = {'pi_rat': [.4], 'single': [0], 'selfemp': [0]}
df = pd.DataFrame(data=d)
df

   pi_rat  single  selfemp
0     0.4       0        0

In [21]:
predictions = est2.get_prediction(df)
predictions.summary_frame(alpha=0.05)

,mean,mean_se,mean_ci_lower,mean_ci_upper,obs_ci_lower,obs_ci_upper
0,0.136486,0.009784,0.117301,0.155672,-0.485898,0.75887